@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OnlineShop</h1>
    <p class="lead">电子商务平台-销售订单管理模块</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>项目简介</h2>
        <p>
            该项目由ASP.NET开发Web应用，使用SQL SERVER存储数据，为课程设计的学习项目
        </p>
        <p><a class="btn btn-default" href="https://github.com/Kita-71/My-own-repository.git">开源地址 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>用户订单跟踪模块</h2>
        <p>前台用户结算后进入本模块，能跟踪发货、结算等情况</p>
    </div>
    <div class="col-md-4">
        <h2>后台订单管理模块</h2>
        <p>管理员能根据实际需求查询、浏览统计订单信息</p>
    </div>
</div>