
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Admin2.cshtml";
}
<div class="container-fluid cm-container-white">
    <h2 style="margin-top:100;">后台订单管理模块</h2>
    <p>在本模块中，管理员能够查看所有订单信息，并根据需要查询、浏览、修改订单信息</p>
    <p>在左侧菜单中选中“订单状态”，可以查询“未发货”、“已发货“、“订单完成”三种状态的订单，其中在未发货中可以点击按钮进行发货</p>
    <p>在左侧菜单中选中“订单查询”，可以查询特定id的订单的信息</p>
    <p>在左侧菜单中选中“订单统计”，可以查看某商品的订单统计信息</p>
</div>
<div class="container-fluid">
</div>

