
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="container-fluid cm-container-white">
    <h2 style="margin-top:100;">用户订单跟踪模块</h2>
    <p>在本模块中，用户可以对已经结算的订单进行跟踪，查询订单的物流状态</p>
    <p>在左侧菜单中选中“购物车”，可以通过按钮生成购物车中的内容，并按下单进行下单</p>
    <p>在左侧菜单中选中“订单状态”，可以查询“未发货”、“已发货“、“订单完成”三种状态的订单，在“已发货”中，可以点击按钮进行收货</p>
</div>
<div class="container-fluid">
</div>
